---
import { getLangFromUrl } from "@/i18n/utils";
import EducationHero from "../molecules/EducationHero.astro";
import type { MarkdownFile } from "@/types";

const educollection: MarkdownFile[] = Object.values(
  import.meta.glob("@/content/education/*.md", { eager: true })
) as MarkdownFile[];
const lang = getLangFromUrl(Astro.url);

const [collInLang]: MarkdownFile[] = educollection.filter(
  (item) => item.frontmatter.lang === lang
);

const Content = collInLang.Content;
---

<EducationHero />

<main class="education-main">
  <Content />
</main>
