---
import Projects from "@/components/organisms/Projects.astro";
import BookSection from "@/components/organisms/BookSection.astro";
import SubcriptionForm from "@/components/molecules/subcriptionForm.astro";
import { getLangFromUrl } from "@/i18n/utils";
import { getContentFromImport } from "@/js/utils.js";
import type { MarkdownFile } from "@/types";
import LastPosts from "../organisms/LastPosts.astro";

const lang = getLangFromUrl(Astro.url);
const mdFiles: MarkdownFile[] = Object.values(
  import.meta.glob<MarkdownFile>(`@/content/home/*.md`, {
    eager: true,
  })
);

const { Content } = getContentFromImport({ mdFiles, lang });
---

<div class="home-intro">
  <Content />
</div>
<Projects />
<BookSection />
<LastPosts />
<SubcriptionForm />

<style>
  .home-intro {
    h1 {
      text-align: center;
      font-weight: 600;
      font-size: var(--fs-xl);
      color: var(--h-text-clr);
    }
    p {
      text-align: center;
      width: clamp(300px, 80vw, 1024px);
      text-wrap: balance;
      margin: 2rem auto;
    }
  }
</style>
