---
import SocialVideo from "@/components/atoms/SocialVideo.astro";

import { getLangFromUrl } from "@/i18n/utils";
import type { MarkdownFile } from "@/types";

const lang = getLangFromUrl(Astro.url);

const socialcollection: MarkdownFile[] = Object.values(
  import.meta.glob("@/content/social/*.md", { eager: true })
) as MarkdownFile[];

const collInLang: MarkdownFile[] = socialcollection.filter(
  (item) => item.frontmatter.lang === lang
);

const Evidence = collInLang.find(
  (item) => item.frontmatter.section === "evidence"
)?.Content;
console.log("collInLang", collInLang);

const What = collInLang.find(
  (item) => item.frontmatter.section === "what"
)?.Content;

const title = {
  en: "Social Justice",
  es: "Justicia Social",
};
---

<main class="social-container">
  <h1>{title[lang]}</h1>
  <Evidence />
  <SocialVideo />
  <What />
</main>
