---
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/organisms/Projects.astro";
import BookSection from "@/components/organisms/BookSection.astro";
---

<Layout>
  <h1>Welcome to Bridge to Science!</h1>
  <p>
    We’re a platform dedicated to connecting scientific knowledge with society.
    Here, you’ll find clear and concise explanations of scientific projects,
    thoughtful discussions on social and environmental issues, and a strong
    focus on the power of education.
  </p>
  <p>
    Join our growing community and be part of the movement to make science more
    accessible, meaningful, and inclusive.
  </p>
  <Projects />
  <BookSection />
</Layout>

<style>
  h1 {
    text-align: center;
    font-weight: 600;
    font-size: var(--fs-xl);
  }
  p {
    text-align: center;
    width: clamp(300px, 80vw, 1024px);
    text-wrap: balance;
    margin: 2rem auto;
  }
</style>
