---
import Layout from "@/layouts/Layout.astro";
import Projects from "@/components/organisms/Projects.astro";
---

<Layout>
  <p>
    <strong>Welcome!</strong> Here, you'll find insights into my current Marie Curie
    project (FOCUS4PFAS), as well as updates on innovative studies and initiatives
    from around the world. This platform serves as a space to share ideas, network
    and generate debates on environmental and social issues of global importance.
  </p>
  <Projects />
</Layout>

<style>
  p {
    width: clamp(300px, 80vw, 1024px);
    margin: 2rem auto;
  }
</style>
