---
import { getCollection } from "astro:content";

import Layout from "@/layouts/BlogLayout.astro";

import BlogHero from "@/components/molecules/BlogHero.astro";
import BookPostCard from "@/components/molecules/BookPostCard.astro";

import BookBanner from "@/assets/images/blogs/heroes/books.jpeg";

import { bookSection } from "@/i18n/ui";

export async function getStaticPaths() {
  const languages = ["pt", "es", "en"];
  const bookCollection = await getCollection("books");

  const path = [];
  for (const lang of languages) {
    const bookSelection = bookCollection.filter(
      (book) => book.data.lang === lang
    );
    path.push({
      params: { lang: lang === "en" ? undefined : lang },
      props: {
        books: bookSelection,
      },
    });
  }
  return path;
}

const lang = Astro.params.lang || "en";
const { books } = Astro.props;

const buttonLabel = {
  es: "Leer reseña",
  en: "Read review",
  pt: "Leia a crítica",
};

const sectionHeader = {
  es: "Lecturas Recomendadas",
  pt: "Leituras Recomendadas",
  en: "Recommended Readings",
};
---

<Layout>
  <BlogHero
    title={bookSection[lang as "en" | "es" | "pt"].title}
    description={bookSection[lang as "en" | "es" | "pt"].description}
    banner={BookBanner}
    slot="hero"
  />
  <section>
    <h2>{sectionHeader[lang as "en" | "es" | "pt"]}</h2>
    <div class="bookCards-container">
      {
        books.map((book) => (
          <BookPostCard
            {...book.data}
            id={book.id}
            buttonLabel={buttonLabel[lang as "en" | "es" | "pt"]}
          />
        ))
      }
    </div>
  </section>
</Layout>
<style>
  section {
    display: grid;
    place-items: center;

    h2 {
      font-size: var(--fs-l);
    }
  }
  .bookCards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
</style>
