---
import Layout from "@/layouts/Layout.astro";
import Home from "@/components/templates/home.astro";

export function getStaticPaths() {
  return [{ params: { lang: "fr" } }, { params: { lang: "jp" } }];
}

const { lang } = Astro.params;
---

<Layout>
  <h1>This page is in {lang}</h1>
  <Home />
</Layout>
