main {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 1240px;
  padding: var(--fs-s);
  margin: 0 auto;
  justify-content: space-between;
}
.profile {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
}

.contact {
  display: grid;
  place-items: center;
  font-weight: lighter;

  & > a {
    text-decoration: underline;
  }

  p {
    font-weight: 500;
    text-align: center;
  }
}
.links-icons {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
  }
}

section {
  p {
    font-weight: 300;
  }
}

@media screen and (width >= 768px) {
  section {
    width: clamp(300px, 80vw, 720px);
    margin-inline: auto;
  }
}

@media screen and (width >= 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: calc(var(--fs-xl) * 2);
    padding: var(--fs-l);
  }
  section {
    width: 100%;
    text-wrap: pretty;
  }
  .profile {
    height: fit-content;
  }
}
