main {
  display: grid;
  place-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: clamp(300px, 80vw, 1280px);
  margin: 0 auto;
  justify-content: space-between;
}
header {
  display: flex;
  align-items: center;
}
.focus {
  mix-blend-mode: multiply;
  width: calc(300px + var(--fs-xl));
  height: auto;
}
.spongeCartoon {
  width: calc(200px + var(--fs-xl));
  height: auto;
}

h1 {
  font-size: var(--fs-l);
  font-weight: 600;
  text-align: center;
}
section {
  padding: var(--fs-s);
}
p {
  margin-inline: var(--fs-s);
}
ul {
  margin-inline: var(--fs-l);
  list-style: disc;
  li {
    font-size: var(--fs-s);
  }
}
.introduction {
  display: flex;
  flex-direction: column;
  gap: var(--fs-s);
}
.video_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--fs-s);

  video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }

  figcaption {
    padding: var(--fs-xs);
    border: 1px solid var(--dark);
    border-radius: 0 0 var(--fs-s) var(--fs-s);
  }
}

.comic_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}
h2 {
  font-weight: 600;
  font-size: var(--fs-m);
}
strong {
  font-weight: 400;
}
