---
import { defaultLang } from "@/i18n/consts";
import { getLangFromUrl } from "@/i18n/utils";
import { getBreadcrumbs } from "@/js/utils";

const lang = getLangFromUrl(Astro.url);
const inDefaultLang = lang === defaultLang;

const breadcrumbs = getBreadcrumbs({ url: Astro.url });
const linksArray = breadcrumbs.map(({ link }) => link);
console.log("link: ", linksArray.slice(0, 1).join(""));
---

<ul>
  {
    breadcrumbs.map(({ label, index }) => {
      let link;
      if (inDefaultLang) {
        if (index === 1) {
          link = "/";
        } else {
          link = linksArray
            .slice(0, index)
            .join("")
            .replace(`/${lang}/`, "/")
            .trim();
        }
      } else {
        link = linksArray.slice(0, index).join("").trim();
      }
      return (
        <li>
          <a href={link}>{label}</a>
        </li>
      );
    })
  }
</ul>
