---
import { defaultLang } from "@/i18n/consts";
import { getLangFromUrl } from "@/i18n/utils";
import { getBreadcrumbs } from "@/js/utils";

const lang = getLangFromUrl(Astro.url);
const inDefaultLang = lang === defaultLang;

const breadcrumbs = getBreadcrumbs({ url: Astro.url });
const linksArray = breadcrumbs.map(({ link }) => link);
---

<nav>
  <ul class="container">
    {
      breadcrumbs.map(({ label, index }) => {
        let link;
        if (inDefaultLang) {
          if (index === 1) {
            link = "/";
          } else {
            link = linksArray
              .slice(0, index)
              .join("")
              .replace(`/${lang}/`, "/")
              .trim();
          }
        } else {
          link = linksArray.slice(0, index).join("").trim();
        }
        return (
          <li>
            <a href={link}>
              <span>{label}</span>
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style>
  ul.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: oklch(from var(--text-clr) l c h / 0.5);
    padding: var(--fs-s);
    border-radius: calc(var(--fs-xs) / 2);
    gap: var(--fs-xs);
    margin: 0 auto;

    li {
      list-style: "\276F";
      padding: 0;
      margin: 0;
      padding-inline-start: var(--fs-xs);
      margin-inline-start: var(--fs-m);

      &:first-of-type {
        list-style: "\1F3E1";
      }
      &:last-of-type {
        pointer-events: none;

        &::marker {
          color: oklch(
            from var(--text-clr) calc(l - 0.1) calc(c + 0.1) calc(h + 20)
          );
        }
        a {
          color: oklch(
            from var(--text-clr) calc(l - 0.1) calc(c + 0.1) calc(h + 20)
          );
        }
      }
    }
    a {
      text-decoration: none;
      color: var(--light);

      &:hover,
      &:focus-visible {
        color: oklch(
          from var(--text-clr) calc(l - 0.1) calc(c + 0.1) calc(h + 20)
        );
      }
    }
  }

  @media screen and (width >= 700px) {
    ul.container {
      flex-direction: row;
      margin: 0;
      gap: 0;
    }
  }
</style>
