---
import { Image } from "astro:assets";
import Logo from "@/assets/images/BTS_LogoC-H.svg";
import LogoDark from "@/assets/images/BTS_LogoC-H-dark.svg";
---

<div class="sticky-wrapper">
  <Image class="image light" src={Logo} alt={"un bello logo"} height={70} />
  <Image class="image dark" src={LogoDark} alt={"un bello logo"} height={70} />
</div>
<style>
  .sticky-wrapper {
    display: grid;
    position: sticky;
    top: 1rem;
    margin-bottom: 5ch;
    z-index: 20;
    pointer-events: none;
  }
  .image {
    will-change: transform;
    animation: linear headerMove forwards;
    translate: calc(50vw - 50%) 0px 0;
    animation-timeline: scroll();
    animation-range: 0 200px;
  }

  @keyframes headerMove {
    from {
      clip-path: circle(100%);
    }
    50% {
      clip-path: circle(20% at 16%);
    }
    to {
      scale: 0.5;
      transform: translate(calc((50vw + 20%) * -1), 110%);
      clip-path: circle(20% at 16%);
    }
  }

  @media screen and (min-width: 768px) {
    @keyframes headerMove {
      from {
        clip-path: circle(100%);
      }
      50% {
        clip-path: circle(20% at 16%);
      }
      to {
        transform: translateX(calc((50vw - 60%) * -1));
        clip-path: circle(20% at 16%);
      }
    }
  }
</style>
