---
import { Image } from "astro:assets";

import SpongeCartoon from "@/assets/images/focus/spongeCartoon.png";
import FocusLogo from "@/assets/images/FOCUS4PFAS.jpg";
---

<h1>Focus For PFAS</h1>
<header>
  <Image class="focus" src={FocusLogo} alt={"Focus for PFAS LOGO"} />
  <Image
    class="spongeCartoon"
    src={SpongeCartoon}
    alt={"Cartoon of a Sponge"}
  />
</header>

<style>
  header {
    width: 100%;
    padding: var(--fs-s);
    background-color: var(--light);
  }
</style>
