---
import NavItem from "@/components/atoms/NavItem.astro";
import HeaderName from "@/components/atoms/HeaderName.astro";
---

<header>
  <HeaderName />
  <nav>
    <ul>
      <NavItem href="/" text="Work" />
      <NavItem href="/about" text="About/Contact" />
      <NavItem
        href="https://www.linkedin.com/in/elisabeth-cuervo-lumbaque-0149b157"
        text="Linkedin"
      />
    </ul>
  </nav>
</header>
<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  nav ul {
    display: flex;
    gap: 1rem;
  }
</style>
