---
import type { ImageMetadata } from "astro";
import BlogsCards from "./BlogsCards.astro";
import { selectImage } from "@/js/utils";

import allProjects from "@/data/Projects/index.json";
import ProjectCard from "@/components/molecules/ProjectCard.astro";
import type { PathKey } from "@/i18n/types";

const thumbnails = Object.entries(
  import.meta.glob<{ default: ImageMetadata }>(
    "@/assets/images/blogs/thumbnails/*.{jpg,jpeg,png}",
    {
      eager: true,
    }
  )
);
const projects = allProjects.filter((project) => project.type === "Project");
---

<main>
  <section>
    <h2>Projects</h2>
    {
      projects.map(({ url, ...project }) => (
        <ProjectCard
          {...project}
          url={url as PathKey}
          image={selectImage({ title: project.id, images: thumbnails })}
        />
      ))
    }
  </section>
  <BlogsCards />
</main>
<style>
  main {
    padding: var(--fs-s);
  }
  section {
    display: grid;
    gap: calc(var(--fs-s));
    place-items: center;

    h2 {
      text-align: center;
      font-weight: 600;
      font-size: var(--fs-l);
    }
  }
</style>
