---
import BlogsCards from "@/components/organisms/BlogsCards.astro";
import ProjectsCards from "@/components/organisms/ProjectsCards.astro";
---

<main>
  <ProjectsCards />
  <BlogsCards />
</main>
<style>
  main {
    padding: var(--fs-s);
  }
</style>
