---
import projects from "@/data/projects.json";
import ProjectCard from "../molecules/ProjectCard2.astro";
---

<section>
  {projects.map((project) => <ProjectCard {...project} />)}
</section>
<style>
  section {
    display: flex;
    padding: var(--fs-s);
    gap: calc(var(--fs-s));
    justify-content: center;
    flex-wrap: wrap;
  }
</style>
