---
import type { ImageMetadata } from "astro";
import { selectImage } from "@/js/utils";

import projects from "@/data/projects.json";
import ProjectCard from "../molecules/ProjectCard.astro";
import type { PathKey } from "@/i18n/types";

const thumbnails = Object.entries(
  import.meta.glob<{ default: ImageMetadata }>(
    "@/assets/images/Thumbnails/*.{jpg,jpeg,png}",
    {
      eager: true,
    }
  )
);
---

<section>
  {
    projects.map(({ url, ...project }) => (
      <ProjectCard
        {...project}
        url={url as PathKey}
        image={selectImage({ title: project.id, images: thumbnails })}
      />
    ))
  }
</section>
<style>
  section {
    display: flex;
    padding: var(--fs-s);
    gap: calc(var(--fs-s));
    justify-content: center;
    flex-wrap: wrap;
  }
</style>
