---
import projects from "@/data/projects.json";
import ProjectCard from "../molecules/ProjectCard.astro";
import type { PathKey } from "@/i18n/utils";
---

<section>
  {
    projects.map(({ url, ...project }, index) => (
      <ProjectCard {...project} url={url as PathKey} />
    ))
  }
</section>
<style>
  section {
    display: flex;
    padding: var(--fs-s);
    gap: calc(var(--fs-s));
    justify-content: center;
    flex-wrap: wrap;
  }
</style>
