---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <slot name="hero" />
  <main>
    <slot />
  </main>
</Layout>
<style>
  main {
    max-width: 100%;
    margin: 0 auto;
    padding: var(--fs-s);
  }

  @media screen and (width >= 1440px) {
    main {
      max-width: 80vw;
    }
  }
</style>
