---
import Layout from "./Layout.astro";
---

<Layout>
  <div class="container">
    <slot name="breadcrumb" />
    <slot name="aside" />
    <main class="blog-layout">
      <slot />
    </main>
  </div>
</Layout>

<style>
  .container {
    display: grid;
    place-items: center;

    .hashes {
      display: flex;
      flex-wrap: wrap;
      gap: var(--fs-xs);
      justify-content: space-between;
    }

    nav {
    }
    aside {
      margin: var(--fs-xs);
    }
    main {
    }
  }
  .blog-layout {
    width: 100vw;
    padding: var(--fs-s);
    margin: 0 auto;

    h1 {
      font-size: var(--fs-xl);
      font-weight: 600;
      text-align: center;
      padding: var(--fs-s);
    }

    h2 {
      font-size: var(--fs-l);
      font-weight: 400;
      text-align: start;
    }
    h3 {
      font-size: var(--fs-m);
      font-weight: 400;
      text-align: start;
    }

    a {
      text-decoration: underline;
    }

    p {
      margin: 0;
    }

    ul:not([class]) {
      list-style-type: disc;
    }

    li {
      padding-inline-start: var(--fs-s);
      font-size: var(--fs-s);
    }

    img {
      max-width: 100%;
      height: auto;
      margin: var(--fs-xs) 0;
    }

    figure {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: var(--fs-xs);

      & > :is(img, video) {
        width: clamp(280px, 90%, 1000px);
        height: auto;
        max-height: 90dvh;
        object-fit: cover;
      }

      figcaption {
        display: block;
        width: 100%;
        font-size: var(--fs-xs);
        text-align: center;
      }
    }
    figure.multiImage {
      display: grid;
      place-items: center;

      figcaption {
        grid-column: 1 / -1;
      }
    }
  }
  @media screen and (width >= 768px) {
    .blog-layout {
      p {
        padding: var(--fs-xs);
      }

      ul:not([class]) {
        margin-inline-start: var(--fs-s);
      }

      figure.multiImage {
        grid-template-columns: repeat(
          auto-fit,
          clamp(calc(280px + 10vw), 30vw, calc(400px + 10vw))
        );
      }
    }
    .container {
      nav {
        justify-self: start;
        margin-inline-start: var(--fs-xl);
      }

      .hashes {
        justify-content: center;
        gap: var(--fs-m);
      }
    }
  }
  @media screen and (width >= 1024px) {
    .container {
      main {
        max-width: 90%;
      }
    }
  }
  @media screen and (width >= 1440px) {
    .container {
      grid-template-columns: auto 1fr;
      gap: var(--fs-xl);
      padding: var(--fs-xl);

      nav {
        grid-column: span 2;
        margin: 0;
      }

      .hashes {
        justify-content: flex-end;
      }

      aside {
        align-self: flex-start;
        margin: 0;
        margin-top: calc(var(--fs-xl) * 2);
      }

      main {
        width: auto;
        max-width: 1440px;
      }
    }
  }
</style>
